@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about">
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">Giới thiệu</h1>
        </section>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3 class="m_2">A - Các lĩnh vực hoạt động & kinh doanh</h3>
        <h4 class="intro-title">1. Chuyên cung cấp các sản phẩm hoá chất tẩy rửa dùng trong công nghiệp và dân dụng</h4>
        <ul class="intro-items">
            <li> Các sản phẩm rửa & chăm sóc tay</li>
            <li>Các sản phẩm lau & xử lý sàn</li>
            <li>Các sản phẩm rửa chén công nghiệp & dân dụng</li>
            <li>Các sản phẩm chuyên tẩy rửa nhựa tái sinh</li>
            <li>Các sản phẩm súc rửa chai</li>
            <li>Các sản phẩm giặt dùng công nghiệp & dân dụng</li>
            <li>Các sản phẩm lau kính</li>
            <li>Dung dịch tẩy gỉ sét</li>
            <li>Các sản phẩm chống tĩnh điện</li>
            <li> Các sản phẩm tẩy rửa khác</li>
        </ul>
        <br />
        <h4 class="intro-title">2. Cung cấp dịch vụ tư vấn các loại sản phẩm chất tẩy rửa công nghiệp và dân dụng</h4>
        <ul class="intro-items">
            <li>Tư vấn và xây dựng công thức các loại chất tẩy rửa dân dụng và công nghiệp</li>
            <li>Tư vấn các loại chât tẩy rửa theo nhu cầu đặc thù riêng của doanh nghiệp</li>
        </ul>
        
        <br />
        <h3 class="m_2">B - Thông tin hồ sơ đã được chứng nhận</h3>
        <h4 class="intro-title">1. Giấy chứng nhận đăng ký nhãn hiệu</h4>
        <br />
        <a href="~/Content/Images/brand_registered.jpg" data-toggle="lightbox" data-title="Giấy chứng nhận đăng ký nhãn hiệu" data-footer="Giấy chứng nhận đăng ký nhãn hiệu">
            <img src="~/Content/Images/brand_registered_small.jpg" class="img-responsive">
        </a>
        <br />
        <h4 class="intro-title">2. Giấy chứng nhận quyền sử dụng mã số, mã vạch</h4>
        <br />
        <a href="~/Content/Images/brand_certificated.jpg" data-toggle="lightbox" data-title="Giấy chứng nhận đăng ký nhãn hiệu" data-footer="Giấy chứng nhận đăng ký nhãn hiệu">
            <img src="~/Content/Images/brand_certificated_small.jpg" class="img-responsive">
        </a>
        <br />
        <p style="margin-top:16px;">Cùng với đội ngũ kỹ sư giỏi và có nhiều năm kinh nghiệm trong lĩnh vực hoá chất công nghiệp và dân dụng, công ty chúng tôi cam kết sẽ hỗ trợ và đáp ứng nhanh chóng và hài lòng nhât các yêu cầu của quý khách hàng & quý công ty liên quan đến các sản phẩm và dịch vụmà công ty cung cấp.</p>
        <p style="margin-top:16px;">Trân trọng kính chào!</p>
        <p style="margin-top:48px;" />
    </div>

    @*<div class="row" style="margin-top:200px;">
            <div class="col-md-8 about_left">
                <h3 class="m_2">Thành lập</h3>
                <ul class="about_grid1 about_box">
                    <li class="about_img"><img src="~/Content/images/a1.jpg" class="img-responsive" alt="" /></li>
                    <li class="about_desc">
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor.</p>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet.</p>
                    </li>
                </ul>
                <h3 class="m_2">Đội ngũ nhân viên</h3>
                <ul class="about_grid1 about_box">
                    <li class="about_img"><img src="~/Content/images/a2.jpg" class="img-responsive" alt="" /></li>
                    <li class="about_desc">
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet.</p>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="m_2">Chứng nhận</h3>
                <div class="list styled custom-list">
                    <ul>
                        <li>
                            <i class="fa fa-graduation-cap fa-3x fa-fw pull-left"></i>
                            <h5>Hàng Việt Nam Chất Lượng Cao</h5>
                            <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum praesent mauris.</p>
                        </li>
                        <li>
                            <i class="fa fa-users fa-3x fa-fw pull-left"></i>
                            <h5>Sao Vàng Đất Việt</h5>
                            <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum praesent mauris.</p>
                        </li>
                        <li>
                            <i class="fa fa-bar-chart fa-3x fa-fw pull-left"></i>
                            <h5>Top tăng trưởng</h5>
                            <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum praesent mauris.</p>
                        </li>
                        <li>
                            <i class="fa fa-leaf fa-3x fa-fw pull-left"></i>
                            <h5>Vệ sinh môi trường</h5>
                            <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum praesent mauris.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@
</div>
@*<div class="container">
        <div class="content_white">
            <h2>Dr CleanCare&copy;</h2>
            <p>Đối đầu thử thách - cùng hướng đến thành công</p>
        </div>
        <div class="testimonial">
            <div class="row testimonial_top">
                <div class="col-md-6">
                    <ul class="test_box">
                        <li class="test_img"><img src="~/Content/images/pic1.jpg" class="img-responsive" alt="" /> </li>
                        <li class="test_desc">
                            <h4><a href="#">Kế hoạch</a></h4>
                            <p>Vel ad aliquid copiosae, cum id impetus tincidunt, solum option laoreet ei quo. No cum agam appareat vituperata ateum iusto paulo dignissim.</p>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="test_box">
                        <li class="test_img"><img src="~/Content/images/pic2.jpg" class="img-responsive" alt="" /> </li>
                        <li class="test_desc">
                            <h4><a href="#">Đội nhóm</a></h4>
                            <p>Vel ad aliquid copiosae, cum id impetus tincidunt, solum option laoreet ei quo. No cum agam appareat vituperata ateum iusto paulo dignissim.</p>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
            <div class="row testimonial_bottom">
                <div class="col-md-6">
                    <ul class="test_box">
                        <li class="test_img"><img src="~/Content/images/pic3.jpg" class="img-responsive" alt="" /> </li>
                        <li class="test_desc">
                            <h4><a href="#">Tăng trưởng</a></h4>
                            <p>Vel ad aliquid copiosae, cum id impetus tincidunt, solum option laoreet ei quo. No cum agam appareat vituperata ateum iusto paulo dignissim.</p>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="test_box">
                        <li class="test_img"><img src="~/Content/images/pic4.jpg" class="img-responsive" alt="" /> </li>
                        <li class="test_desc">
                            <h4><a href="#">Hợp tác</a></h4>
                            <p>Vel ad aliquid copiosae, cum id impetus tincidunt, solum option laoreet ei quo. No cum agam appareat vituperata ateum iusto paulo dignissim.</p>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
@section Scripts {
    
    @Scripts.Render("~/bundles/ekko-lightbox")

    <script>
        $("#menu-about").attr("class", "current");
    
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
}
